<section class="hero is-fullheight is-dark is-bold">
   <div class="hero-body">
     <div class="container">
       <div class="columns is-vcentered">
         <div class="column is-4 is-offset-4">
           <h2 class="title">
             Edit <%= resource_name.to_s.humanize %>
           </h2>
           <div class="box">
             <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
             <%= devise_error_messages! %>

             <label class="label">Email</label>
               <p class="control">
               <%= f.email_field :email, class: "input", autofocus: true %>
              </p>


              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <label class="label">Password<br/>
                <i>(leave blank if you don't want to change it)</i>
              </label>
              <br />
                <%= f.password_field :password, class: "input", autocomplete: "off" %>
                <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
</div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
  </div>
</div>
</div>
</div>

</section>
