All Donations
<table class="table is-narrow">
  <thead>
    <tr>
      <th>Donation ID</th>
      <th>Created</th>
      <th>User</th>
      <th>Donation Bag ID</th>
      <th>Donation Status</th>
      <th></th>
    </tr>
  </thead>
<% @org.donations.each do |donation| %>
<% if @org.donations.nil? %>
<tr>


<td>No donations yet!</td>
</tr>
<% else %>
<tbody>


<tr>
<td><%= link_to "#{donation.id}", donation_path(id: donation.id) %></td>
<td><%= donation.created_at.strftime("%d/%m/%Y") %></td>
<td><%= link_to "#{donation.user.name}", user_path(id: donation.user_id) %> </td>
<td><%= link_to "#{donation.donation_bag_id}", donation_path(id: donation.id) %> </td>
<td>
  <span class="tag is-primary"><%= donation.donation_status.name %></span>
</td>
<td><%= link_to "View", donations_path, class: "button is-success is-small" %>
<%= link_to "Update", donations_path, class: "button is-info is-small" %></td>
</tr>
<% end %>
<% end %>
</tbody>

</table>
