
<h3 class="dark-font subtitle">Current Address</h3>
<% if address_check %>
HEY man! Are you homeless? Update your address!
<% else %>
<div class="dark-font">
<h1><%= @user.address.line_1 %></br></h1>
<%= @user.address.line_2.html_safe + tag(:br) unless @user.address.line_2.nil?%>
<%= @user.address.city %>
<%= @user.address.state %>
<%= @user.address.postcode %></br>
  T: <%= @user.address.telephone %></br>
</div>
<% end %>
</br>


  <%= form_for :address do |f| %>
  <label class="label">Street Address</label>
    <p class="control">
      <%= f.text_field :line_1, class: "input" %>
    </p>
    <p class="control">
      <%= f.text_field :line_2, class: "input" %>
    </p>
  <label class="label">City</label>
    <p class="control">
      <%= f.text_area :city, class: "input" %>
    </p>
  <label class="label">State/Territory</label>
    <p class="control">
      <span class="select">
      <%= f.select :state, ['ACT', 'NSW', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA'], include_blank: true %></span>
    </p>
    <label class="label">Post Code</label>
      <p class="control">
        <%= f.text_area :postcode, class: "input" %>
      </p>
      <label class="label">Country</label>
        <p class="control">
          <span class="select">
          <%= f.select :country, ['Australia'], include_blank: true %>
        </span>
        </p>
  </br>
  <p class="actions">
    <%= f.submit "Update", class: "button is-primary" %>
    <%= link_to "Cancel", root_path, class: "button is-alert" %>
  </p>
<% end %>

<hr>
<h3 class="dark-font">Current Phone Number</h3>
<% if phone_check %>
I KNOW YOU HAVE A CELL PHONE, UPDATE YOUR PHONE NUMBER
<% else %>
<%= @user.address.telephone %>
<% end %>

<%= form_for :address do |f| %>

<label class="label">Phone</label>
  <p class="control">
    <%= f.text_area :phone, class: "input" %>
  </p>
</br>
    <%= f.submit "Update", class: "button is-primary" %>
    <%= link_to "Cancel", root_path, class: "button is-alert" %>

  <% end %>
