<h3 class="title">Address</h3>

<h3 class="subtitle">Current Address</h3>
<% if address_check %>
HEY man! Are you homeless? Update your address!
<% else %>
<%= @user.address.line_1 %>
<%= @user.address.line_2 %>
<%= @user.address.city %>
<%= @user.address.state %>
<%= @user.address.postcode %>


<% end %>
</br>


  <%= form_for :address do |f| %>
  <label class="label">Street Address</label>
    <p class="control">
      <%= f.text_field :line_1, class: "input" %>
    </p>
    <p class="control">
      <%= f.text_field :line_2, class: "input" %>
    </p>
  <label class="label">City</label>
    <p class="control">
      <%= f.text_area :city, class: "input" %>
    </p>
  <label class="label">State/Territory</label>
    <p class="control">
      <span class="select">
      <%= f.select :state, ['ACT', 'NSW', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA'], include_blank: true %></span>
    </p>
    <label class="label">Post Code</label>
      <p class="control">
        <%= f.text_area :postcode, class: "input" %>
      </p>
      <label class="label">Country</label>
        <p class="control">
          <span class="select">
          <%= f.select :country, ['Australia'], include_blank: true %>
        </span>
        </p>
  </br>
  <p class="actions">
    <%= f.submit "Save Address", class: "button is-primary" %>
  </p>
<% end %>

<%= form_for :address do |f| %>

<label class="label">Phone</label>
  <p class="control">
    <%= f.text_area :phone, class: "input" %>
  </p>
    <%= f.submit "Save Phone", class: "button is-primary" %>
  <% end %>
