<%= render 'partials/nav/user' %>
<section class="section main">
    <div class="container is-fluid">
      <div class="columns">
        <div class="column is-3">
          <!-- <div class="card is-fullwidth">
            <header class="card-header">
            </header>
            <div class="card-content">
              <a class="card-avatar">
                <img src="https://pbs.twimg.com/profile_images/3005141692/dc8e1eb36b6cbd2b5726f63c50adf7f2.png" class="card-avatar-img">
              </a>

              <div class="card-user">
                <div class="card-user-name">
                  <a href="#"><%= @user.name %></a>
                </div>
                <span>
                  <a href="#">@<span><%= @user.username %></span></a>
                </span>
              </div>

              <div class="card-stats">
                <ul class="card-stats-list">
                  <li class="card-stats-item">
                    <a href="#" title="9.840 Tweet">
                      <span class="card-stats-key">Donations</span>
                      <span class="card-stats-val">1</span>
                    </a>
                  </li>
                  <li class="card-stats-item">
                    <a href="#/following" title="885 Following">
                      <span class="card-stats-key">Items</span>
                      <span class="card-stats-val">0</span>
                    </a>
                  </li>
                  <li class="card-stats-item">
                    <a href="#">
                      <span class="card-stats-key">Friends</span>
                      <span class="card-stats-val">0</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
          <!-- <div class="spacer"></div> -->
          <div class="box">
            <%= render 'partials/aside/user' %>
          </div>
        </div>
        <div class="column is-6">
          <!-- <div class="notification is-danger">
            <button class="delete" onclick="((this).parentNode.remove())"></button>
            You have a pick up coming soon. If you need to make adjustments please contact your local food pantry.
          </div> -->

          <div class="box has-text-centered">
            <h1 class="bag-text"><%= render 'bags/bag_text' %></h1>
          </div>
          <div class="box">
            <nav class="level">
              <!-- Left side -->
              <div class="level-left">
                <div class="level-item">
                  <p class="subtitle is-5 is-vcentered">
                    <strong>123</strong>
                    bags
                  </p>
                </div>
                <div class="level-item">
                  <p class="control has-addons">
                    <input class="input" type="text" placeholder="Find a donation">
                  </p>
                  <p>
                    <button class="button">Search</button>
                  </p>
                </div>
              </div>
              <!-- Right side -->
              <div class="level-right">
                <p class="level-item">
                  <strong>All</strong>
                </p>
                <p class="level-item">
                  <a>Completed</a>
                </p>
                <p class="level-item">
                  <a>Pending</a>
                </p>
                <p class="level-item">
                  <a>Deleted</a>
                </p>
                <p class="level-item">
                  <a class="button is-success">New</a>
                </p>
              </div>
            </nav>
              <p><span class="title is-5">Donation Bags</span></p>
              <hr>
              <div class="panel">
                <p class="panel-heading">
                 Bags
               </p>
               <%# @donation_bags.each do |bag| %>
                <panel class="panel-block">

                  <% if @donation_bag.nil? %>
                   "No bags yet but they'll show up here when you create one!"
                   <% else %>
                   <p class="control">
                    <span class="tag is-primary"><%= @donation_bag.bag_status.name %></span>
                  </p>
                  <p class="control">
                  Bag ID # <%= @donation_bag.id %> with <%= @donation_bag.total_quantity %> items</p>

                  <p class="control level-right"><span class="button is-info">View</span></p>

              </panel>
                <% end %>
              </div>

          </div>


        </div>
        <div class="column is-3">
          <div class="box">
            <p><span class="title is-5">Notifications</span> · <a href="#">Refresh</a> · <a href="#">View All</a></p>
            <hr>
            <div class="columns">
              <div class="column">
                <div class="notification is-success">
                  <button class="delete" onclick="((this).parentNode.remove())"></button>
                  You have a pick up coming soon.
                  <p>
                  <small>1h ago | via: system</small>
                  </p>
                </div>
                <div class="notification is-primary">
                  <button class="delete" onclick="((this).parentNode.remove())"></button>
                  Please remember to confirm your donation.
                  <p>
                  <small>2h ago | via: system</small>
                  </p>
                </div>

              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
  </section>
