
  <section class="hero is-fullheight is-dark">
    <div class="hero-head">
      <div class="container">
        <nav class="nav">
          <div class="container">
            <div class="nav-left">
              <a class="nav-item" href="<%= root_path %>">
                <img src="../images/bulma-white.png" alt="Description">
              </a>
            </div>
            <span class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="nav-right nav-menu">
              <%= link_to 'About', pages_about_path, class: "nav-item" %>
              <%= link_to 'Contact', pages_contact_path, class: "nav-item" %>
              <span class="nav-item">
                <%= link_to 'Login', new_user_session_path, class: "button is-primary is-inverted is-outlined" %>
              </span>
              <span class="nav-item">
                <%= link_to 'Sign Up', new_user_registration_path, class: "button is-primary is-inverted is-outlined" %>
              </span>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="hero-body">
      <div class="container">
        <div class="container has-text-centered">

        <div class="columns is-vcentered">
          <!-- <div class="column is-5">
            <figure class="image is-4by3">
              <img src="https://images.unsplash.com/photo-1471248026681-35a45d5530a3?dpr=1&auto=format&crop=entropy&fit=crop&w=800&h=600&q=80" class="promo-img" alt="Description">
            </figure>
          </div> -->
          <div class="column is-6 is-offset-3">
            <h1 class="title is-2">
              Welcome to DonateThing
            </h1>
            <h2 class="subtitle is-4">
              If you have a food drive code enter it below.
            </h2>
            <br>
            <div class="field is-grouped">
              <p class="control is-expanded has-addons has-text-centered">
                <input class="input is-expanded is-large" type="text" placeholder="ex.8675309">
              </p>
              <p class="control">
                <%= link_to 'Join', root_path, class: "button is-large is-danger is-outlined" %>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>






    <div class="hero-foot">
      <div class="container">
        <div class="tabs is-centered">
          <ul>
            <li><a href="http://bulma.io">Made with bulma</a></li>
            <li><a>Copyright 2016 Bulma</a></li>
            <li><a href="http://unsplash.com">Images via unsplash</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
