<nav class="nav has-shadow">
    <div class="container">
      <div class="nav-left">
        <%= link_to '<i class="fa fa-home"></i> &nbsp; Home'.html_safe, root_path, class: "nav-item is-tab" %>
        <%= link_to '<i class="fa fa-map"></i> &nbsp; Map'.html_safe, pages_map_path, class: "nav-item is-tab" %>
        <%= link_to '<i class="fa fa-bell-o"></i> &nbsp; Notifications'.html_safe, pages_notifications_path, class: "nav-item is-tab" %>
        <%= link_to '<i class="fa fa-envelope"></i> &nbsp; Messages'.html_safe, pages_messages_path, class: "nav-item is-tab" %>
      </div>

      <div class="nav-center">
        <a class="nav-item" href="/">
          <span class="icon">
            <i class="fa fa-shopping-bag"></i>
          </span>
        </a>
      </div>

      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="nav-right nav-menu">
        <span class="nav-item">
          <%= link_to '<i class="fa fa-shopping-bag"></i> &nbsp; Donations'.html_safe, donations_path, class: "nav-item button" %>
        </span>
        <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, class: "nav-item is-tab", :method => :delete) %>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
      </div>
    </div>
  </nav>
