<h2 class="subtitle">Add a new product</h2>

<%= form_for :product, url: products_path do |f| %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.label :name, class: "label" %>
  <%= f.text_field :name, class: 'input' %>
  <%= f.label :description, class: "label" %>
  <%= f.text_field :description, class: 'input' %>
  <%= f.submit "Add Product", class: "button is-primary" %>
  <% end %>
