
  <div class="columns">
    <div class="column">

      <h4 class="is-9"><%= product.name.titleize %></h4>
      <%= product.description %>
      <%= form_for :bag_item, url: bag_items_path do |f| %>
      <div class="field">


          <p class="control is-pulled-right">
            <%= f.number_field :quantity, value: 1, min: 1, class: "input is-small", style: "width:40px;" %>

            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.hidden_field :donation_bag_id, value: @donation_bag.id %>
            <%= f.submit "Add to Bag", class: "button is-primary is-small" %>

            <%= link_to "Remove", product, { data: { confirm: "Are you sure you wish to remove the product '#{product.name}' from your pantry?" }, method: :put, class: "button is-danger is-small" } %>

            <%#= link_to "Remove", product, { data: { confirm: "Are you sure you wish to delete the product '#{product.name}' from your pantry?" }, method: :delete, class: "button is-danger is-small" } %>

            </p>
          </div>

  </div>
</div>

      <% end %>
