<h1 class="bag-text"><%= render 'bags/bag_text' %></h1>

<%= current_bag.inspect %>
<p>


<%=link_to 'Create New', bag_path, :method => :post %>

<div class="container">

<h3 class="subtitle is-4 center">Products in your Pantry</h3>

    <% @products.each do |product| %>
      <%= render "products_row", product: product, bag_item: @bag_item %>
    <% end %>
    <hr>
    <%= render 'products_add' %>
</div>
